lib/
bin/
build/
cmake-build-debug/
cmake-build-release/
.idea
.vscode
__pycache__/
*.py[cod]
*$py.class

/camera_intrinsic/intrinsic_calib/data/selected/
/camera_intrinsic/intrinsic_calib/data/undistorted/
/camera_intrinsic/calib_verification/output.png

/lidar2imu/manual_calib/data/top_center_lidar/
/lidar2imu/manual_calib/data/top_center_lidar-enu.txt
/lidar2imu/manual_calib/data/top_center_lidar-utm.txt
/lidar2imu/manual_calib/data/NovAtel-pose-lidar-time.txt

/lidar2imu/auto_calib/data/top_center_lidar/
/lidar2imu/auto_calib/refined_calib_imu_to_lidar.txt
/lidar2lidar/auto_calib/stitching.pcd

/SensorX2car/radar2car/data